@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Lato:ital,wght@0,100;0,300;1,100;1,900&family=Montserrat:ital,wght@0,200;0,300;1,300&family=Oswald:wght@200;300;700&family=Quicksand:wght@300;400&family=Roboto+Condensed:ital,wght@1,300&display=swap');

// font-family: 'Climate Crisis', cursive;
//font-family: 'Lato', sans-serif;
//font-family: 'Montserrat', sans-serif;
//font-family: 'Oswald', sans-serif;
//font-family: 'Quicksand', sans-serif;
//font-family: 'Roboto Condensed', sans-serif;
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html {
    scroll-behavior: smooth;
}
@import "./modulos/home.scss";
@import "./modulos/galeria.scss";
@import "./modulos/clases.scss";
@import "./modulos/eventos.scss";
@import "./modulos/contacto.scss";
// MEDIA QUERIES 
@media only screen and (min-width:360px) and (max-width:580px){
    // inicio GALERIA 
    .imgGal:hover{
        transform: scale(1.20);
        transition: all 0.7s;
    }
    // fin GALERIA 
    // inicio CLASES 
    @for $i from 1 through 3 {
        .tipo#{$i} {
            height: 400px;
            width: 350px;
        } 
    }
    @for $i from 1 through 3 {
        .info#{$i}{
            width: 300px;
            height: 300px;
            background-color: #14141488;
            border: 2px solid #141414;
        }
    }
    .h2Clases{
        font-size: 35px;
    }
    .listClases{
        font-size: 20px;
    }
    .listInst{
        margin-top: 25px;
    }
    .listTeo{
        font-size: 15px;
        margin-top: 30px;
    }
    .pClases{
        font-size: 15px;
    }
    .pTeo{
        margin-top: 20px;
        font-size: 20px;
    }
    // fin CLASES
         // inicio EVENTOS
    .jumbotronEventos{
        .callEventos{
            grid-column: 2/10;
        }
    }
    .ensamble2{
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
        display: inline-block;
        .nleft{
            width: 100%;
        }
        h2{
            font-size: 50px;
        }
        p{
            font-size: 20px;
        }
        .carousel{
            width: 100%;
            height: 400px;
        }
        img{
            height: 300px;
        }
    }
    #video{
        h2{
            font-size: 30px;
            text-align: center;
        }
        iframe{
            width: 360px;
            height: 400px;
        }
    }
    // fin EVENTOS
        // inicio CONTACTO
        .form{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 20px;
            form{
                width: 360px;
                height: 750px;
            }
            .form-control{
                height: 40px;
            }
            .enviar{
                height: 40px;
            }
            .conteinerDatos{
                margin-top: 50px;
                .contenedorMapa{
                    height: 350px;
                    width: 300px;
                    margin-left: 0px;
                    iframe{
                        height: 100%;
                        width: 100%;
                    }
                }
                .datos{
                    margin-top: 20px;
                    margin-left: 0px;
            }
            }
        }
        // fin CONTACTO
    
}
@media only screen and (max-width:579px){
    // inicio GALERIA 
    .contenedorGaleria{
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 250px);
        grid-template-areas: 
        "img1 img1"
        "img7 img7"
        "img6 img6"
        "img4 img4"
        "img11 img11" 
        "img10 img10"
        "img3 img3"
        "img9 img9"
        "img2 img2" 
        "img5 img5"
        "img8 img8" 
        "img12 img12";
        padding: 20px;
    }
    // fin GALERIA 
}   
@media only screen and (min-width: 360px) and (max-width:912px){  
    // inicio HOME 
        // inicio MAIN 
    .call{
        grid-column: 2/10;
        grid-row: 3/4;
        border: solid 1px #141414;
        padding: 20px;
        h1{
            font-size: 40px;
        }
    }
    .callHome{
        background-color: #14141488;
    }
        // fin MAIN 
        // inicio NOSOTROS 
    .nosotros{
        height: min-content;
        padding-left: 30px;
        padding-right: 30px;
    }
    .nright{
        height: 250px;
    }
    .nleft h2{
        font-size: 45px;  
    }
    .nleft p{
        font-size: 20px;
        padding: 10px;
    }
    .separadorAlumnos{
        margin-top: 20px;
    }
        // fin NOSOTROS 
        // inicio ALUMNOS 
    .alumnos{
        height: auto;
        margin-bottom: 10px;
    }
    .headAlumnos h2{
        font-size: 60px; 
    }
        // fin ALUMNOS 
    // inicio GALERIA 
    .callGaleria{
        background-color: #141414bd;
    }
    // fin GALERIA 
}
@media only screen and (min-width:580px) and (max-width:912px){
    // inicio Alumnos
    .alumnos{
        margin-bottom: 180px;
    }
    .descripcion{
        font-size: 13px;
        height: 100px;
    }
    // fin ALUMNOS
    // inicio GALERIA 
    .contenedorGaleria{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
        "img1 img1 img7 img7"
        "img6 img6 img7 img7"
        "img11 img10 img10 img12"
        "img3 img3 img9 img9"
        "img4 img4 img8 img8"
        "img2 img2 img5 img5";
    }
    // fin GALERIA 
    // inicio CLASES 
    @for $i from 1 through 3 {
        .tipo#{$i} {
            height: 350px;
            width: 550px;
        } 
    }
    // fin CLASES
         // inicio EVENTOS
    .jumbotronEventos{
        .callEventos{
            grid-column: 3/9;
        }
    }
    .ensamble2{
        display: inline-block;
        .nleft{
            width: 100%;
        }
        h2{
            font-size: 50px;
        }
        p{
            font-size: 20px;
        }
        .carousel{
            width: 100%;
        }
    }
    #video{
        h2{
            font-size: 30px;
        }
        iframe{
            width: 500px;
            height: 400px;
        }
    }
    // fin EVENTOS
    // inicio CONTACTO
    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 20px;
        form{
            width: 580px;
            height: 750px;
        }
        .form-control{
            height: 40px;
        }
        .enviar{
            height: 40px;
        }
        .conteinerDatos{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 50px;
            .contenedorMapa{
                margin-left: 0px;
                width: 300px;
                height: 250px;
            }
            .datos{
                margin-top: 20px;
        }
        }
    }
    // fin CONTACTO
}
@media only screen and (min-width:912px) and (max-width:1100px){
    // inicio CLASES 
    @for $i from 1 through 3 {
        .tipo#{$i} {
            height: 500px;
            width: 800px;
        } 
    }
    // fin CLASES
    // inicio EVENTOS
    .jumbotronEventos{
        .callEventos{
            grid-column: 3/9;
        }
    }
    .ensamble2{
        h2{
            font-size: 50px;
        }
        p{
            font-size: 20px;
        }
        .carousel{
            width: 400px;
        }
    }
    #video{
        h2{
            font-size: 50px;
        }
    }
    // fin EVENTOS
}
@media only screen and (min-width:912px) and (max-width:1200px){
    // inicio EVENTOS
    .jumbotronEventos{
        .callEventos{
            grid-column: 3/7;
        }
    }
    .ensamble2{
        margin-top: 50px;
        .carousel{
            width: 500px;
        }
    }
    #video{
        h2{
            font-size: 50px;
            margin-bottom: 40px;
        }
        iframe{
            width: 800px;
            height: 400px;
        }
    }
    // fin EVENTOS
}
@media only screen and (min-width:1200px) and (max-width:1400px){
    // inicio ALUMNOS
    .alumnos{
        height: 400px;
    }
    .cardsAlumnos .descripcion{
        font-size: 16px;
    }
    .cardsAlumnos .img-fluid{
        height: 200px;
    }
    // fin ALUMNOS
    // inicio EVENTOS
    .jumbotronEventos{
        .callEventos{
            grid-column: 3/7;
        }
    }
    .ensamble2{
        margin-top: 50px;
        .carousel{
            width: 500px;
        }
    }
    #video{
        h2{
            font-size: 60px;
            margin-bottom: 40px;
        }
        iframe{
            width: 800px;
            height: 400px;
        }
    }
    // fin EVENTOS
}
@media only screen and (min-width:1400px){
    .form{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 100px;
        margin-left: 20px;
    }
}
