$amarillo: #b8b500;
$negro: #141414;
$azul: #077288;
$sombraTitulo: $negro 1px 1px 1px;

/* inicio CONTACTO */
.jumbotronContacto{
    background-image: linear-gradient(#b8b50009, #07728848), url(./assets/img/contactoJumbo.jpg);
}

.form{
    display: flex;
    justify-content: start;
    margin-left: 50px;
    form{
        width: 700px;
        height: 500px;
        background-color: $amarillo;
        padding:20px 50px 10px 50px;
        color: $negro;
        font-size: 20px;
        border-radius: 50px;
    }
    .form-control{
        height: 30px;
    }
    #exampleFormControlTextarea1{
        height: 100px;
        resize: none;
    }
    margin-top:75px;
    margin-bottom: 62.5px;
    .enviar{
        display: flex;
        justify-content: space-between;
    }
    button{
        font-size: 15px;
        color: #DEDEDE;
        background-color: $negro;
        margin-left: 0px;
        padding: 5px;
        text-decoration: none;
        border-radius: 10%;
        border-color: $negro;
    }
    button:hover{
        background-color: $azul;
        transition: all 0.5s;
        border-color: $negro;
    }
    .conteinerDatos{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .contenedorMapa{
            height: 350px;
            width: 500px;
            margin-left: 30px;
            iframe{
                height: 100%;
                width: 100%;
            }
        }
        .datos{
            margin-left: 30px;
            h3{
                font-size: 20px;
            }
    }
    }
}

/* fin CONTACTO */


